@import 'mixins';

.flex {
  display: flex;

}

#contact {
  .flex {
    @include media_interval(0, $media1024) {
      flex-flow: row wrap;
    }
  }
  background-color: #e9d3a4;
  padding-left: 30px;
  .contact__title {    
    letter-spacing: -.02em;
    font-family: 'RozhaOne',serif;
    -moz-box-flex: 0 0 320px;
    -webkit-flex: 0 0 320px;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
    font-size: 74px;
    font-size: 4.625rem;
    line-height: .86486;    
    color: #232323;
    @include media_interval(0, $media768) {
      flex: 1 0 100%;
    }
    @include media_interval($media768, $media1024) {
      flex: 1 0 100%;

    }

    p {
      @include media_interval(0, $media768) {
        width: 260px;
        font-size: 60px;
        line-height: 0.83;
      } 
    }    
  }
  .conctact__text {    
    padding-left: 100px;
    margin-top: 12px;
    flex: 0 1 480px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    color: #232323;
    @include media_interval(0, $media768) {
      font-size: 14px;
      line-height: 1.43;
      padding-left: 0;
      flex: 0 1 480px;
    }
    @include media_interval($media768, $media1024) {
      flex: 0 1 540px;
      padding-left: 0px;
    }

    

  }
  a {
    color: red;
  }

  #contact .btn {
    margin-top: 20px;
    border-width: 4px;
    border-color: rgba(255,255,255,0.25);
  }
  .red-btn {
    background: #da2020;
  }
  .big-btn {
    padding: 20px 40px;
    min-width: 230px;
    border: solid 4px rgba(255, 255, 255, 0.25);
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
  }
  .btn {
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    @include media_interval(0, $media768) {
      padding: 0;
      font-size: 16px;
      font-weight: bold;
      width: 160px;
      height: 40px;
      border-radius: 100px;
    }
    @include media_interval($media768, $media1024) {
      margin-left: 100px;
    }
  }
}