@import "mixins";

#photo_gallery {
  background: #fffbf6;
  outline: 1px solid #ffb546;
  outline-offset: -40px;
  overflow: visible;
  padding-bottom: 120px;

  .gallery__title {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .slider {
    max-width: 980px;
  }

  img {
    outline: 1px solid #ffb546;
    outline-offset: -10px;
    width: 100%;
    height: auto;
    animation: moving4 7s ease-in-out infinite alternate;
  }

  .gallery__text {
    margin-top: 20px;
    padding-bottom: 100px;
    font-family: Alice;
    font-size: 16px;
    line-height: 1.56;
    text-align: center;
    color: #87605b;
  }
}


h2 {
  background-image: linear-gradient(to left, #ff7c6e, #d4496f);
  font-family: PlayfairDisplay;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.slider2 {
  margin-top: 40px;
  .slider-item {
    width: 50%;
    &:first-child {
      margin-right: 20px;
    }
  }  
  .slider-slide {
    display: flex;
    justify-content: space-between;
  }
}

.testimonial {
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 35px 60px -30px #f9e4ca, 0 50px 65px -80px #f9e7d1;
  margin: 0 auto;  

  &__content {
    border: 1px solid #ffb546;
    padding: 40px 40px 40px 80px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    &:before {
      content: '';
      background-image: url(/static/img/sprite.svg);
      width: 26px;
      height: 19px;
      background-position: -2px -120px;
      position: absolute;
      top: 12px;
      left: 26px;
    }

    .qoute {
      font-family: Alice;
      font-size: 16px;
      line-height: 1.56;
      text-align: left;
      position: relative;
      vertical-align: middle;
      &:after {
        content: '';
        background-image: url(/static/img/sprite.svg);
        width: 26px;
        height: 19px;
        background-position: -42px -120px;
        position: absolute;
        bottom: -20px;
        right: -12px;
      }
    }
    
    .author {
      display: flex;
      align-items: center;
      margin-top: 30px;
      font-family: 'PlayfairDisplay',serif;
      font-weight: 900;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.5;
      text-align: left;
      background-image: linear-gradient(to left,#ff7c6e,#d4496f);
      -webkit-background-clip: text;
      color: transparent;
      &:before {
        content: '';
        background: url(/static/img/sprite.svg) no-repeat -41px -86px;
        width: 28px;
        height: 28px;
        margin-right: 10px;
        border-radius: 50px
      }
    }
  }
}





