{% extends 'layout.html' %}

{% load attachable_blocks %}
{% load pipeline_plus %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'main' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'main' %}
{% endblock static_js %}


{% block content %}

    {% include 'main/parts/hero.html' %}
    {% include 'main/parts/main.html' %}
    {% include 'main/parts/contact.html' %}
    {% include 'main/parts/gallery.html' %}
    {% include 'main/parts/testimonials.html' %}
    {% include 'main/parts/contact2.html' %}

  {% render_attached_blocks config %}

{% endblock content %}
