{% load staticfiles %}

<div id="contact" class="section">

  <div class="grid">
    <div class="gc-wide-10 gc-center gc-10 gc-tablet-8">
      <div class="columns contact">
        <div class="column column-left">
          <h2 class="main__title">Why work with Robin?</h2>
        <button type="button" class="btn open-contact-popup">CONTACT ROBIN</button>
          </div>
          <div class="column column-right">
           <div class="main__text">Celebrants specialize in creating personalized, poetic, non-denominational ceremonies and rituals for life-cycle events. I am trained to develop ceremonies that bring meaning and purpose to your life events, without adhering to any
          particular religious faith or practice.
        </div>
        <button type="button" class="btn open-contact-popup">CONTACT ROBIN</button>
          </div>
        </div>
      </div>
    </div>
    <img src="static/img/RE_Petals_1920x1224.png" alt="">


</div>

