{% load staticfiles %}


<div id="contact2" class="section">

<div class="grid">
  <div class="gc-wide-10 gc-10 gc-center gc-tablet-7 gc-ml-tablet-1 contact__robin">
    <div class="contact__block">
      <div class="contact__photo"><img src="static/img/Robin_Photo.png" alt="Robin"></div>
      <div class="contact__text">
        <h2>Let’s Make Your Wedding Special!</h2>
        <button type="button" class="btn open-contact-popup">CONTACT ROBIN</button>
      </div>
    </div>
  </div>
</div>


</div>