{% load staticfiles %}

<div id="contact" class="block">

  <div class="container">
    <div class="flex">
      <div class="contact__title">
        <p>Fill out the form</p>
      </div>
      <div class="conctact__text">
        <div class="text-styles">          
          <p>Please submit your request by downloading the Rental Application and the instruction  attached to it below. <br/> 
          Fill out the form and email it to <a href="emailto:katrinagerber@lynmarbuilders.com">katrinagerber@lynmarbuilders.com</a></p>
            <button type="button" class="btn open-contact-popup red-btn big-btn">Rent Now</button>
          </div>
        </div>
      </div>
    </div>

  </div>