{% load staticfiles %}

<div id="photo_gallery" class="section">
  <div class="gallery__block grid">
    <div class="gallery__title gc-wide-3 gc-ml-wide-2 gc-ml-1"><h2 >Photos</h2></div>
    <div class="grid">
      <div class="gallery">          
        <div class="slider gc-wide-10 gc-center gc-10 gc-tablet-7">
          <div class="slider-item"><img src="{% static 'img/JPG/download-5_re.jpg' %}" alt=""></div>
          <div class="slider-item"><img src="{% static 'img/JPG/download-5_re.jpg' %}" alt=""></div>
          <div class="slider-item"><img src="{% static 'img/JPG/download-5_re.jpg' %}" alt=""></div>
          <div class="slider-item"><img src="{% static 'img/JPG/download-5_re.jpg' %}" alt=""></div>
          <div class="slider-item"><img src="{% static 'img/JPG/download-5_re.jpg' %}" alt=""></div>
        </div>
      </div>
    </div>
    <div class="gallery__text">The caption to the picture (optional). May be in two lines.</div> 
  </div>

  <div class="gallery__testimonials">
    <div class="grid">
      <div class="testimonials-title gc-wide-10 gc-ml-wide-2 gc-ml-1">
        <h2>Testimonials</h2>
      </div> 
    </div>
  </div>
  <div class="grid cards">
    <div class="gc-wide-10 gc-center gc-10 gc-tablet-7 slider2">

      <div class="slider-item">
        <div class="testimonial">
          <div class="testimonial__content">
            <div class="qoute">Our wedding is still talked about by family and friends as being the best wedding they’ve ever attended. Celebrant Robin is a big reason why. Hire her!</div>
            <div class="author">Kate & Jo</div>            
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="testimonial">
          <div class="testimonial__content">
            <div class="qoute">Robin is fantastic! You will NOT be disappointed! I LOVED my ceremony.</div>
            <div class="author">Felicia & Drew</div>            
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="testimonial">
          <div class="testimonial__content">
            <div class="qoute">Robin is fantastic! You will NOT be disappointed! I LOVED my ceremony.</div>
            <div class="author">Felicia & Drew</div>            
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="testimonial">
          <div class="testimonial__content">
            <div class="qoute">Our wedding is still talked about by family and friends as being the best wedding they’ve ever attended. Celebrant Robin is a big reason why. Hire her!</div>
            <div class="author">Kate & Jos</div>            
          </div>
        </div>
      </div>



    </div>
  </div>


</div> 

