{% load staticfiles %}

<div id="photo_gallery" class="block">
  <div class="container">
    <div class="flex">
      <div class="gallery__block">
        <h2>Photo Gallery</h2>
        <div class="gallery ">          
          <div class="slider2 no-slider">
            <div class="slider-item"><img src="{% static 'img/0016.jpeg' %}" alt=""></div>
            <div class="slider-item"><img src="{% static 'img/0016.jpeg' %}" alt=""></div>
            <div class="slider-item"><img src="{% static 'img/0016.jpeg' %}" alt=""></div>
            <div class="slider-item"><img src="{% static 'img/0016.jpeg' %}" alt=""></div>
            <div class="slider-item"><img src="{% static 'img/0016.jpeg' %}" alt=""></div>
          </div>
        </div>           
      </div> 
      <div class="text__block">
        <h3>Amenities:</h3>
        <ul>
          <li>Newly renovated apartments</li>
          <li>All new energy efficient appliances</li>
          <li>Cable ready</li>
          <li>Individual parking space</li>
        </ul>
        <h3>Details:</h3>
        <ul>
          <li>Allowed two adults and one child</li>
          <li>No pets allowed</li>
          <li>We rent first or fifteenth of the month</li>
          <li>Full security deposit is required upfront to reserve apartment</li>
          <li>Security deposit is a month and a half rent</li>
        </ul>
        </div>
    </div>
  </div> 
</div>    




