{% load staticfiles %}

<div class="hero section">
  <div class="hero__top">
    <img src="static/img/JPG/RE_Top-Pic_1920x1080.jpg" alt="wedding">
  </div>
  <div class="section-inner">

    <div class="grid">
    <div class="gc-wide-5 gc-ml-wide-7 gc-5 gc-ml-7 gc-tablet-8 gc-ml-tablet-1 gc-mobile-6 text">        
        <div class="hero__title"><h1>For a Day<br/>
          Like No Other</h1></div>
          <div class="hero__text">Personalized, poetic ceremonies for the most important moments in your life</div>
          <button type="button" class="btn open-contact-popup">CONTACT ROBIN</button>

        </div>
      </div>

    </div>


  </div>





  
