{% load staticfiles %}

<div class="main">

  <div class="grid">
    <div class="gc-ml-wide-2 gc-wide-7 gc-7 gc-ml-1 gc-tablet-8 gc-ml-tablet-1">
      <h1 class="main__title">Congratulations on Your Engagement</h1>
      <div class="main__text">Are you looking for a wedding officiant in Bucks county, Montgomery county or Philadelphia? Welcome! As an ordained minister, I consider it a true privilege to be a wedding officiant and I do this work with great love and joy. As a Bucks County ordained interfaith minister, I honor all faiths, spiritual paths, philosophies, cultures and lifestyles. Whether you prefer a traditional or non-traditional wedding, I will enjoy helping you create a unique ceremony that speaks to your heart and fully engages your family and friends as well.</div>
    </div>
    <div class="gc-wide-3 gc-3 gc-ml-1">
      <img src="static/img/rings.png" alt="rings">
    </div>
  </div>
  <div class="grid">
    <div class="gc-ml-wide-2 gc-wide-9 gc-11 gc-ml-1 gc-tablet-7 gc-ml-tablet-1">
      <div class="columns">
        <div class="column column-left">
          <img src="static/img/JPG/download-3.jpg" alt="ceremony">
          <h2><strong>Creating the Ceremony You Want</strong></h2>
          <p class="main__text">Getting to know you, meeting up to discuss the ceremony and sign paperwork I let the couple see and correct the speech before the ceremony
            Writing and preparation of your personalised ceremony Unlimited correspondence in person — via email, phone and skype Making sure you are 100 % happy with your ceremony and your marriage is 100% legit marriage license & ceremony support</p>
          </div>
          <div class="column column-right">
            <img src="static/img/JPG/download-2.jpg" alt="robin">
            <h2><strong>About Robin</strong></h2>
            <p class="main__text">Robin is a Certified Life-Cycle Celebrant, a registered celebrant in New Jersey, and a non-denominational minister. A life-long learner, she also has a few Master’s degrees and experience as a writer, program manager, and theater director. “Being a Celebrant allows me to bring all of my experience and strengths to you, creating an authentic, professional, beautiful ceremony”.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
