{% load staticfiles %}

<div id="apply-block" class="apply-block block">
  <div class="container">
    <div class="flex">
      <div class="image"><img src="{% static 'img/plan.jpg' %}" alt=""></div>
      <div class="order__now">
        <h2>It's easy to apply!</h2>
        <p>Castle Oaks Apartments are centrally located, close to public transportation, near shopping and dining and minutes away from Philadelphia. </p>
        <button type="button" class="btn open-contact-popup">Rent Now</button>
      </div>
    </div>
  </div>
</div>