@import "mixins";

$logo_width: 240px;
$logo_height: 54px;

#header-cell > header {
  
  background-color: #ffffff;
  border-bottom: 2px solid #ffb546;
  @include media_interval(0,$media600) {
       padding: 20px 0;
      }

  .flex {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
  }

  .logo-box {
    @include flex(0 0 auto);
    @include media_interval($media1024, 0) {
      animation: boom 2s ease-in-out alternate;
    }
    .logo-title {
      height: 40px;
      background-image: linear-gradient(to left, #ff7c6e, #d4496f);
      font-family: PlayfairDisplay;
      font-size: 30px;
      font-weight: 900;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @include media_interval(0,$media600) {
        font-size: 22.5px;
      }
    }
    .logo-subtitle {
      margin-left: 4px;
      font-family: Alice;
      font-size: 14px;
      letter-spacing: 5px;
      text-align: center;
      color: #87605b;
      @include media_interval(0,$media600) {
        font-size: 10.5px;
        letter-spacing: 3.8px;
      }
    }
  }

  .menu-box {
    padding: 0 20px;
    text-align: center;
    @include flex(1 1 auto);
    @include media_interval(0, $media_mobile) {
      padding: 0;
      text-align: right;
    }
    .social-links {
      @include media_interval(0,$media600) {
        display: none;
      }
      margin-top: -15px;
      padding-right: 15px;
      display: inline-block;
      flex: 1 1 auto;
      vertical-align: middle;
      a {
        display: inline-block;
        margin-right: 15px;
        width: 40px;
        vertical-align: middle;
        &:first-child {
          margin-left: 50px;
        }
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
          background: url(../../img/sprite.svg) no-repeat;
        }
      }
      .twitter:before {
        background-position: 0% 0%;
      }
      .inst:before {
        background-position: 25% 0;
      }
      .facebook:before {
        background-position: 50% 0;
      }
      .linkedin:before {
        background-position: 75% 0;
      }
      .googleplus:before {
        background-position: 100% 0;
      }
    }
  }

  .contacts-tel {
    margin-top: -10px;
    @include media_interval(0,$media600) {
      display: none;
    }
    a {
      text-decoration: none;
      font-family: Alice;
      font-size: 35px;
      color: #87605b;
    }
  }
}

@keyframes boom {
  0% {
    transform: scale(0.3);
  }
  70% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
